{
  "root": true,
  "extends": ["@nuxt/eslint-config", "plugin:prettier/recommended", "plugin:jsdoc/recommended-typescript"],
  "plugins": [],
  "rules": {},
  "overrides": [
    {
      "files": ["*.graphql"],
      "parser": "@graphql-eslint/eslint-plugin",
      "parserOptions": {
        "operations": "./playground/gql/queries/*.graphql",
        "schema": "./playground/gql/schema.graphql"
      },
      "plugins": ["@graphql-eslint"],
      "rules": {
        "@graphql-eslint/strict-id-in-types": ["error", { "acceptedIdNames": ["id", "code"] }]
      }
    },
    {
      "files": ["./playground/gql/schema.graphql"],
      "extends": "plugin:@graphql-eslint/schema-recommended"
    },
    {
      "files": ["./playground/gql/queries/*.graphql"],
      "extends": "plugin:@graphql-eslint/operations-recommended"
    }
  ]
}
