name: Lint
on:
  push:
    branches:
      - main
    paths-ignore:
      - "docs/**"
  pull_request:
    branches:
      - main
    paths-ignore:
      - "docs/**"

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-24.04
    permissions:
      security-events: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Setup node and pnpm
        uses: ./.github/actions/setup-node-pnpm

      - run: pnpm -w add @microsoft/eslint-formatter-sarif

      - run: pnpm eslint . --format @microsoft/eslint-formatter-sarif --output-file eslint-results.sarif
        continue-on-error: true

      - uses: github/codeql-action/upload-sarif@b20883b0cd1f46c72ae0ba6d1090936928f9fa30 # v4
        with:
          sarif_file: eslint-results.sarif
          wait-for-processing: true
